.search-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.card-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.mat-typography {
    background-color: #000000;
}

.mat-toolbar {
    background-color: #000000de;
    span {
        color: #ffffff;
    }
}